<div class="table-static">
  <table class="table table-bordered">
    <colgroup>
      <col class="col-xs-4">
      <col class="col-xs-4">
      <col class="col-xs-4">
    </colgroup>
    <!-- Top Row -->
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Top Left</div>
          <div class="panel-body">E-mail client</div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Top Center</div>
          <div class="panel-body">Internet Browser</div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Top Right</div>
          <div class="panel-body">Empty</div>
        </div>
      </td>
    </tr>
    <!-- Middle Row -->
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Middle Left</div>
          <div class="panel-body">Slack / IM Client</div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Middle Center</div>
          <div class="panel-body">Sublime / IDE</div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Middle Right</div>
          <div class="panel-body">Empty</div>
        </div>
      </td>
    </tr>
    <!-- Bottom Row -->
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Bottom Left</div>
          <div class="panel-body">MUSIC!</div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Bottom Center</div>
          <div class="panel-body">Terminal</div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">Bottom Right</div>
          <div class="panel-body">Empty</div>
        </div>
      </td>
    </tr>
  </table>
</div>
