<div class="panel-group" id="configs_accordian">
  <div class="panel panel-default">
    <!-- Part 1: Both VMs -->
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#configs_accordian" href="#part_1_both">
        5.1: Give the VM More Resources (Fedora and Ubuntu)
      </a></h4>
    </div>
    <div id="part_1_both" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/Wyt2FBwWFSg"></iframe>
        </div>
      </div>
    </div>
    <!-- Part 2: Fedora -->
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#configs_accordian" href="#part_2_fedora">
        5.2: Install VirtualBox Guest Additions for Fedora
      </a></h4>
    </div>
    <div id="part_2_fedora" class="panel-collapse collapse">
      <div class="panel-body">
        <!-- Fedora VM -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/ADJVRCD5tpY"></iframe>
        </div>
      </div>
    </div>
    <!-- Part 2: Ubuntu -->
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#configs_accordian" href="#part_2_ubuntu">
        5.2: Install VirtualBox Guest Additions for Ubuntu
      </a></h4>
    </div>
    <div id="part_2_ubuntu" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/qw4r3ZCrAQA"></iframe>
        </div>
      </div>
    </div>
  </div>
</div><!-- end accordian-->
